
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to Tech Blog!</h2>
            <p class="lead">Explore the latest articles, blog posts, and opinions shared by our community of tech
                enthusiasts.</p>

            {{#if posts.length}}
            <h3>Latest Posts</h3>
            <div class="list-group mt-3">
                {{#each posts}}
                <a href="/post/{{id}}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{title}}</h5>
                    <p class="mb-1">Posted by {{user.username}} on {{format_date date_created}}</p>
                </a>
                {{/each}}
            </div>
            {{else}}
            <p>No posts available.</p>
            {{/if}}
        </div>
    </div>
</div>

