<div>
    <h2>Welcome to the Tech Blog</h2>
    {{#if logged_in}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    {{/if}}

    {{#each posts}}
    <div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Published by {{author}} on {{createdAt}}</p>
    </div>
    {{/each}}
</div>